bin*/
*.code-workspace
*.sublime-project
3rdparty*
.idea*
./*build*
*build*
xcode*
temp-plot.html
matlab/*.msh
matlab/*.stl
__pycache__
.DS_Store
/data
MeshRepair/MeshRepair/x64/
MeshRepair/RepairTest/x64/
*.user
